@page
@model RegisterModel
@{
    
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8">
	<title>Academics - Register</title>

	<!-- Site favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="~/YiniDashboard/vendors/images/VUA.png">
	<link rel="icon" type="image/png" sizes="32x32" href="~/YiniDashboard/vendors/images/VUA.png">
	<link rel="icon" type="image/png" sizes="16x16" href="~/YiniDashboard/vendors/images/VUA.png">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="~/YiniDashboard/vendors/styles/core.css">
	<link rel="stylesheet" type="text/css" href="~/YiniDashboard/vendors/styles/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="~/YiniDashboard/src/plugins/jquery-steps/jquery.steps.css">
	<link rel="stylesheet" type="text/css" href="~/YiniDashboard/vendors/styles/style.css">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-119386393-1');
	</script>
</head>

<body class="login-page">
	<div class="pre-loader">
		<div class="pre-loader-box">
			<div class="loader-logo"><img src="~/YiniDashboard/vendors/images/VUA.png" alt=""></div>
			<div class='loader-progress' id="progress_div">
				<div class='bar' id='bar1'></div>
			</div>
			<div class='percent' id='percent1'>0%</div>
			<div class="loading-text">
				Loading...
			</div>
		</div>
	</div>
	<div class="login-header box-shadow">
		<div class="container-fluid d-flex justify-content-between align-items-center">
			<div class="brand-logo">
				<a asp-area="" asp-controller="Home" asp-action="Index">
					<img src="~/YiniDashboard/vendors/images/logo2.png" style="height:60px" alt="">
				</a>
			</div>
			<div class="login-menu">
				<ul>
					<li><a asp-area="Identity" asp-controller="Account" asp-action="Login">Login</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="register-page-wrap d-flex align-items-center flex-wrap justify-content-center">
		<div class="container" >
			<div class="row align-items-center">
				<div class="col-md-8 col-lg-7">
					<img src="~/YiniDashboard/vendors/images/register-page-img.png" alt="">
				</div>
				<div class="col-md-6 col-lg-5">
					
					<div class="register-box bg-white box-shadow border-radius-10">

						<div asp-validation-summary="All" class="text-danger" role="alert">
							@TempData["sot"]<br />
							@TempData["gander"]<br />
							@TempData["con"]
						</div>
						<div class="wizard-content">
							<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
							
								<h5>Basic Account Credentials</h5>
								<section >
									<div class="select-role">
										<div class="btn-group btn-group-toggle" data-toggle="buttons">
											<label class="btn active">
												<input type="radio" name="options" id="admin" value="Teacher">
												<div class="icon"><img src="~/YiniDashboard/vendors/images/briefcase.svg" class="svg" alt=""></div>
												<span>I'm</span>
												Teacher
											</label>
											<label class="btn">
												<input type="radio" name="options" id="user" value="Studant">
												<div class="icon"><img src="~/YiniDashboard/vendors/images/person.svg" class="svg" alt=""></div>
												<span>I'm</span>
												Studant
											</label>
										</div>
									</div>
									<div class="form-wrap max-width-600 mx-auto">
										<div class="form-group row">
											<label asp-for="Input.Email" class="col-sm-4 col-form-label">Email Address*</label>
											<div class="col-sm-8">
												<input asp-for="Input.Email" type="email" class="form-control">
											</div>
										</div>
										
										<div class="form-group row">
											<label asp-for="Input.Password" class="col-sm-4 col-form-label">Password*</label>
											<div class="col-sm-8">
												<input asp-for="Input.Password" type="password" class="form-control">
											</div>
										</div>
										<div class="form-group row">
											<label asp-for="Input.ConfirmPassword" class="col-sm-4 col-form-label">Confirm Password*</label>
											<div class="col-sm-8">
												<input asp-for="Input.ConfirmPassword" type="password" class="form-control">
											</div>
										</div>
									</div>
								</section>
								<!-- Step 2 -->
								<h5>Personal Information</h5>
								<section>
									<div class="form-wrap max-width-600 mx-auto">
										
										<div class="form-group row">
											<label asp-for="Input.FirstName" class="col-sm-4 col-form-label">First Name</label>
											<div class="col-sm-8">
												<input asp-for="Input.FirstName" type="text" class="form-control">
											</div>
										</div>
										<div class="form-group row">
											<label asp-for="Input.LastName" class="col-sm-4 col-form-label">LastName</label>
											<div class="col-sm-8">
												<input asp-for="Input.LastName" type="text" class="form-control">
											</div>
										</div>
										<div class="form-group row align-items-center">
											<label class="col-sm-4 col-form-label">Gender*</label>
											<div class="col-sm-8">
												<div class="custom-control custom-radio custom-control-inline pb-0">
													<input type="radio" id="male" name="gender" class="custom-control-input" value="male">
													<label class="custom-control-label" for="male">Male</label>
												</div>
												<div class="custom-control custom-radio custom-control-inline pb-0">
													<input type="radio" id="female" name="gender" class="custom-control-input" value="female">
													<label class="custom-control-label" for="female">Female</label>
												</div>
											</div>
										</div>
										<div class="custom-control custom-checkbox mt-4">
											<input type="checkbox" class="custom-control-input" id="customCheck1" name="condtions" value="Approve">
											<label class="custom-control-label" for="customCheck1">I have read and agreed to the terms of services and privacy policy</label>
										</div>
									</div>
								</section>
								<input type="submit" class="btn btn-primary" value="Register" />
							</form>
							@*<section class="btn btn-block">
							<div class="font-16 weight-600  pb-10 text-center" data-color="#707373">OR</div>
							@{
							if ((Model.ExternalLogins?.Count ?? 0) == 0)
							{
							<div>
							<p>
							There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
							article
							about setting up this ASP.NET application to support logging in via external services
							</a>.
							</p>
							</div>
							}
							else
							{
										<form enctype="multipart/form-data" data-form-type="ExRegisrerForm"id="form2" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
							<div>
							<p>
							@foreach (var provider in Model.ExternalLogins!)
							{

							<button type="submit" class="btn btn-outline-primary btn-block" name="provider" value="@provider.Name" title="Regster in using your @provider.Name account">Register with your Google Account</button>
							}
							</p>
							</div>
							</form>
							}
							}
							</section>*@
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- success Popup html Start -->
	<button type="button" id="success-modal-btn" hidden data-toggle="modal" data-target="#success-modal" data-backdrop="static">Launch modal</button>
	<div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered max-width-400" role="document">
			<div class="modal-content">
				<div class="modal-body text-center font-18">
					<h3 class="mb-20">Form Submitted!</h3>
					<div class="mb-30 text-center"><img src="~/YiniDashboard/vendors/images/success.png"></div>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				</div>
				<div class="modal-footer justify-content-center">
					
				</div>
			</div>
		</div>
	</div>
	<!-- success Popup html End -->
	<!-- js -->
	<script src="~/YiniDashboard/vendors/scripts/core.js"></script>
	<script src="~/YiniDashboard/vendors/scripts/script.min.js"></script>
	<script src="~/YiniDashboard/vendors/scripts/process.js"></script>
	<script src="~/YiniDashboard/vendors/scripts/layout-settings.js"></script>
	<script src="~/YiniDashboard/src/plugins/jquery-steps/jquery.steps.js"></script>
	<script src="~/YiniDashboard/vendors/scripts/steps-setting.js"></script>
</body>

</html>


@*<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            <hr />
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Input.FirstName" class="control-label">First Name</label>
                        <input asp-for="Input.FirstName" class="form-control" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Input.LastName" class="control-label">Last Name</label>
                        <input asp-for="Input.LastName" class="form-control" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>

                </div>
            </div>

                <div class="form-floating mb-3">
                    <label asp-for="Input.StudantOrTeacher">Are You :</label>
                    <select asp-for="Input.StudantOrTeacher" required class="form-control">
                        <option disabled selected>Select</option>
                        <option value="Studant">I`am Studant</option>
                        <option value="Teacher">I`am Teacher</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
